body {
    background-color: rgb(211, 211, 211);
    overflow-y: scroll;
    position: absolute;
    margin: 0;
    overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00089e; /* Color of the scrollbar handle */
}
